/* system color highlight */
#content_left .episode_section.selected {
    background-color: #577287;
}

/* Remove wide background */
#main #content_container {
    background-color: white;
}
media="screen"
@media screen and (max-width: 1722px) and (min-width: 1361px)
#main #content_container #content_row #content_middle {
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
}

/* Shrink sidebar */
#main #content_container #content_row #content_middle .scrollable {
    margin-left: 224px;
}
#main #content_container #content_row #content_left {
    width: 224px;
}
#main #content_container #content_row #content_left .scrollable {
    width: 224px;
}
#content_left .list .podcast {
    width: 224px;
}
#content_left .list .podcast .podcast_text {
    width: 149px;
}
#content_left .list .podcast .podcast_text .text, #content_left .list .podcast .podcast_text .title, #content_left .list .podcast .podcast_text .author {
    width: 110px;
}
