/*
//  stylesheet.css
//  Pocket Casts
//
//  Created by Stuart Moore on 12/2/15.
//  Copyright © 2015 Stuart Moore. All rights reserved.
*/

/* San Francisco font */

* {
    font-family: -apple-system !important;
}

/* Hide navigation */

.navigation {
    display: none;
}

.layout {
    min-width: 0;
}

/* Hide player */

.layout .layout-footer {
    height: 0;
}

.player-controls {
    -webkit-box-shadow: none;
    box-shadow: none;
}
