/*
//  stylesheet.css
//  Pocket Casts
//
//  Created by Stuart Moore on 12/2/15.
//  Copyright © 2015 Stuart Moore. All rights reserved.
*/

/* San Francisco font */

* {
    font-family: -apple-system !important;
}

/* Scroll navigation */

.navigation {
    overflow-y: overlay;
    padding-bottom: 122px;
}

/* Hide logo */

.navigation > .logo {
    visibility: collapse;
}

.navigation > .nav-podcasts {
    margin-top: 20px;
}

.navigation > .nav-discover, .navigation > .nav-starred {
    margin-bottom: 0;
}

/* Hide player */

.layout .layout-footer {
    height: 0;
}

.player-controls {
    -webkit-box-shadow: none;
    box-shadow: none;
}
